@model List<Slbilling.Models.InvoicePerInstanceBreakDownModel>
@{
    ViewBag.Title = "Per Instance BreakDown";                                                                           
}

<div class="PerInstanceInvoiceDetails">
    <h2>
        Invoice Details</h2>
    <table class="table table-bordered">
        <tbody>
            <tr>
               <td>
                    <strong>Region Name</strong>
                </td>
                <td>
                    <strong>Flavor Name</strong>
                </td>
                <td>
                    <strong>Instance Id</strong>
                </td>
                <td>
                    <strong>Instance Launched At</strong>
                </td>
                  <td>
                    <strong>Instance Stopped At</strong>
                </td>
                <td>
                    <strong>Cpu Used </strong>
                </td>
                <td>
                    <strong>Cost Per Item($USD)</strong>
                </td>
                 <td>
                    <strong>Usage (Day:Hour:Min)</strong>
                </td>
                 <td>
                    <strong>VM Type Cpu Cost ($USD)</strong>
                </td>
            </tr>

            @foreach (var item in Model)
            {
           
                   <tr> <td class="text">@item.RegionName
                    </td> <td class="text">@item.FlavorName
                    </td> <td class="text">@item.InstanceNames
                    </td> <td class="text">@item.LastLaunched
                    </td> <td class="text">@item.LastSeen
                    </td> <td class="text">@item.SubCpuCount
                    </td> <td class="text">@item.SubCostTotal
                    </td> <td class="text">@item.Duration
                    </td> <td class="text">@item.CpuCostPerHour             
                </td> </tr>    
                
            }
            
        
            </tr>
        </tbody>
    </table>
    <table border="1">
    <tr>
        <td>
            Total Cpu
        </td>
        <td>
            @Html.ViewData["TotalCpu"]
        </td>
     </tr>
        <tr>
        <td>
            Total Cost ($USD)
        </td>
        <td>
            @Html.ViewData["TotalCost"]
        </td>
    </tr>
    </table>
</div>

