@model Slbilling.Models.InvoiceSummaryViewModel
@{
    ViewBag.Title = "List";
}
<table border="1">
    <tr>
        <td>
            Tenant Name
        </td>
        <td>
            @Html.DisplayFor(model => model.TenantName)
        </td>
    </tr>
    <tr>
        <td>
            Billing Month Period Ending
        </td>
        <td>
            @Html.DisplayFor(model => model.Time)
        </td>
    </tr>
    <tr>
        <td>
            Total CPU Used
        </td>
        <td>
            @Html.DisplayFor(model => model.TotalCpu)
        </td>
    </tr>
    <tr>
        <td>
            Total Cost ($USD)
        </td>
        <td>
            @Html.DisplayFor(model => model.TotalCost)
        </td>
    </tr>
    @Html.ActionLink("Invoice Details", "List", "InvoiceDetailView",
    new
        {
            tenantName = @Model.TenantName,
            year = @Model.Time.Year,
            month = @Model.Time.Month
        }, null)
</table>
